extends layout

block content
    +header('.', 'Index')

    header.index
      h1 Vagabond.
      
    hr.index
  
    section.index.js-places
      each p in places
          a.entry.js-img(href='#{p.folder}', data-src="imgs/#{p.folder}/#{p.highlight}.jpg")
            .titles
              h2 #{p.name}
              hr
              h3 #{p.date}
