mixin insight(place)
    +header('../', 'Insight')

    section.insight
        h2.link
          a(href='../') &#8592; Back Home
        h1 #{place.name} 
        h2 #{place.date}
        
        hr
        
        .places.js-places
            - for (var i = 1; i <= place.size; i++)
                a.img(href='../imgs/#{place.folder}/#{i}.jpg')
                  img(src="../imgs/#{place.folder}/#{i}.jpg")
                if place.locations
                  - var l = place.locations[i - 1]
                  p.description 
                    a(href='https://www.google.com/maps/?q=#{l.lat},#{l.lng}') #{l.name}
        
